@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #9d0609;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #b9b4b5;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 10px;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: #141237;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 10px;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #b9b4b5;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 10px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #a5797b;
  border-color: #7e0f12;

}

nav a {
  margin: 0 35px;
  color: #9d0609;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #7e0f12
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 05px;
}

ul{
  list-style-image: url(../images/star.png);
}
